.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.shoppingPart{
width: 70%;
margin-left: 50px;
margin-right: 5px;
border-right: 2px solid gray;

  }
  .container .card-part{
    width: 30%;
    text-align:center;
  
  }

