/* .reviewStyle{
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    margin: 3px;
    padding-bottom: 15px;

} */

.reviewStyle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid lightgray;
}
.review-img{
    width: 70%;
    padding: 5px;
  
}
.review-item{
    width: 30%;
    padding: 5px;
}