.product-container{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 3px;
    padding: 3px;
    margin-right: 3px;

}
.product-left{
    margin-right: 4px;
}
.product-container .product-right{
    margin-right: 4px;
padding-bottom: 20px;
    padding-left: 50px;
}
.main-button{
    background-color: rgb(240, 240, 8);
    border-radius: 4px;
    padding:4px 10px;
    border: none;
    cursor: pointer;
    border: 1px solid gray;
    
    
}
.product-right h5{
    color: rgb(46, 23, 222);
}